body{
    margin: 0;
}

header{
    padding: 30px 0 0 0;
    background-color: #0060b1;
}

.sec1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 30px 0;
}

.titulo-h{
    padding: 0 62px 0 30px;
    display: flex;
    flex-direction: row;

    font-size: 1.5em;
    color: azure;
    text-decoration: none;
}

.barra-pes{
    padding: 10px 200px;
    border-radius: 0.25rem;
    border: #0060b1;
}

.fig1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    color: azure;
}

.caption1 > a{
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: azure;
}

.img-h1{
    width: 5%;
    height: 5%;
    color: azure;
    padding: 0 20px;
}

.img-h2{
    width: 5%;
    height: 5%;
    color: azure;
}

.nav-sub{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 230, 0);
    margin: 0;
    list-style: none;
}

.menu2{
    display: flex;
    flex-direction: row;
}

.menu2 > li{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.itens-h{
    color: azure;
    text-decoration: none;
    margin: 0 10px;
}

