body{
    margin: 0;
}

header{
    padding: 30px 0;
    background-color: #0060b1;
}

.sec1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo-h{
    padding: 0 62px 0 30px;
    display: flex;
    flex-direction: row;

    font-size: 1.5em;
    color: azure;
    text-decoration: none;
}

.barra-pes{
    padding: 9px 80px;
    border-radius: 5px;
}

.fig1{
    display: flex;
    flex-direction: row;
    color: azure;
}

.caption1 > a{
    text-decoration: none;
    color: azure;
}

.img-h1{
    width: 1.8%;
    height: 1.8%;
    color: azure;
}

.img-h2{
    width: 1.8%;
    height: 1.8%;
    color: azure;
}