body{
    margin: 0;
}

header{
    padding: 20px 0;
    background-color: rgb(236, 85, 30);
}

.sec1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo-h{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

.barra-pes{
    margin-left: 80px;
    padding: 7px 80px;
}

.fig1{
    display: flex;
    flex-direction: row;
}

.img-h1{
    width: 1.8%;
    height: 1.8%;
}

.img-h2{
    width: 1.8%;
    height: 1.8%;
}